<!DOCTYPE html>
<html>
<head>
<style>
body {
    margin-left: 200px;
    background: #5d9ab2 url("img_tree.png") no-repeat top left;
}

.center_div {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    background-color: #d0f0f6;
    text-align: left;
    padding: 8px;
}






<style>
body {
    background-color: lightgreen;
}
</style>

<div id="page">
<div id ="sidebar">
<ul id="sidebar-items">  

    
    
    
    
    
    
    
    
    
    
    
    
    
    
     <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
    

   
        <div class="center_div">
        <h2 class="featured-subtitle">Ukratko</h2>
			
			   		     



        
            
            
            
             <ol> 
              
              <li>Instalacija Linux-a<a> ( Slackware )</a></li>
           <form action='/' method='POST'>
           <input type='hidden' name='path' value='<% requested_path %>'/>
             
            <input type='submit' value='Korak-1' />
            </form>
              
              
              
              
              
         
              
              
              
              <li>Osnovne komande<a>  ( man man man )</a></li>
             <form action='/Step02' method='POST'>
            <input type='hidden' name='path' value='<% requested_path %>'/>
           
            <input type='submit' value='Korak-2' />
              </form>
              
              <li>Vim osnovnde komande<a> ( vim )</a></li>
            <form action='/Step03' method='POST'>
            <input type='hidden' name='path' value='<% Step03 %>'/>
             
            <input type='submit' value='Korak-3' />
            </form>
              
              <li>Sta je Apache<a> ( httpd )</a></li>
            <input type='hidden' name='path' value='<% requested_path %>'/>
             <form action='/Step04' method='POST'>
            <input type='submit' value='Korak-4' />
            </form>
            
            
            <li>MySQL<a> ( MariaDB )</a></li>
            <form action='/Step05' method='POST'>
            <input type='hidden' name='path' value='<% requested_path %>'/>
             
            <input type='submit' value='Korak-5' />
              </form>
              
             <li>Perl<a>    ( #!/usr/bin/perl )</a></li>
            <form action='/Step06' method='POST'>
            <input type='hidden' name='path' value='<% requested_path %>'/>
             
            <input type='submit' value='Korak-6' /> 
              </form>
              
              <li>CPAN<a> ( perl -MCPAN -e shell )</a></li>
            <input type='hidden' name='path' value='<% Step07 %>'/>
             <form action='/Step07' method='POST'>
            <input type='submit' value='Korak-7' /> 
            </form>
            
            
            <li>Dancer2<a> ( plackup -r bin/app.psgi )</a></li>
            <input type='hidden' name='path' value='<% requested_path %>'/>
             <form action='/Step08' method='POST'>
            <input type='submit' value='Korak-8' /> 
            
            </form>
            
            <li>GitHub<a> ( git ) </a></li>
            <input type='hidden' name='path' value='<% Step09 %>'/>
             <form  action='/Step09' method='POST'>
            <input type='submit' value='Korak-9' /> 
            </form>
             <ol>

               </div>  
              
            
             
         
       
      





</style>
</head>
<body>

      
      
    </body>
</html>
  
      
      
      
      
    

   