<h2>Login</h2>


      
     
        <form action='/login' method='POST'>
            User Name : <input type='text' name='user'/>
            Password: <input type='password' name='pass' />

            
            <input type='hidden' name='path' value='<% requested_path %>'/>

            <input type='submit' value='Login' />
        </form>
      </body>
   


 

