<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    
    
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Linux</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/theme.css" rel="stylesheet">
  </head>

  <body role="document">
  
  	
  
  
  <div id="page">
<div id ="sidebar">
<ul id="sidebar-items">  

    
    
    
    <a class="navbar-brand" href="/" title="Home"><input type='submit' value='Home' /></a>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/readable/bootstrap.min.css" rel="stylesheet">
    
    
	<p>
	<a class="btn btn-primary btn-lg" href="http://www.cpan.org/modules/index.html" role="button">CPAN</a>
	
	</p>
    
    
    



<style>
body {
    background-color: lightblue;
}
</style>

<body>


    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>CPAN</h1>
        <head>
<style>
p {
    text-align: center;
    color: red;
} 
</style>
</head>
<body>
<p>Comprehensive Perl Archive Network.</p>
  </body>      
        <h2 class="featured-subtitle">Arhiva Modula</h2>


			   				
			   		
			   		
			   		
			   		
			   		
			   		
			   		
			   		
			   		
			   		
			   		
			   		
			   		
			   		
			   		
			   		

      </div>

    </div> <!-- /container -->
<h3>Sledeci korak</h3>
           

 <a class="navbar-brand" href="" title="Dancer2"> <input type='hidden' name='path' value=''/>
 <form action='/Step08' method='POST'><input type='submit' value='Dancer2' /> 
 </a>

    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/jquery-2.2.0.min.js"><\/script>')</script>
    <script src="/javascripts/bootstrap.min.js"></script> 
  </body>
</html>
